/* In App.css o index.css */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  color: #333;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-header h1 {
    margin: 0;
}

main {
  padding: 0 10px; /* Un po' di padding laterale per schermi piccoli */
}

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
    font-size: 0.9em;
    color: #6c757d;
}